extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to detail
 else
  - let universityid = toShow._id
  - let university_type = toShow.university_type
  - let size = toShow.size
  - let cost = toShow.cost

  div
   div.row
    div(class='universityAttr mr-3') university ID is:
    div #{universityid}
   div.row
    div(class='universityAttr mr-3') university type is:
    div #{university_type}
   div.row
    div(class='universityAttr mr-3') university cost is:
    div #{cost}
   div.row
    div(class='universityAttr mr-3') university size is:
    div #{size}




 
 
 
