extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let universityid = toShow._id 
    - let university_type = toShow.university_type 
    - let universitycost = toShow.cost 
    - let universitysize = toShow.size 
    - let actionid = "/resource/university/" + universityid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='universityAttr mr-3') university ID is: 
        div #{universityid} 
      div.row 
        div(class='universityAttr mr-3') university Type is: 
        div #{university_type} 
      div.row 
        div(class='universityAttr mr-3') university Size is: 
        div #{universitysize} 
      div.row 
        div(class='universityAttr mr-3') university Cost is: 
        div #{universitycost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the university collection 
      window.location.href='/university' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/universitys' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 