extends layout
block content
  h1= title
  - var univers = results
  div(class="container-fluid")
     div(class="row m-1")
        each university,index in univers
            - let destination = `dispatch(\"/university/update?id=${university._id}\")`
            div(class="row-sm-2", class="m-1") university #{university.university_type}(#{university.size}) is #{university.cost}
             button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
      function dispatch(path){
         window.location.href=path
      }