extends layout 
 
block content 
  h1= title 
 
  - let universityid = toShow._id 
  - let university_type = toShow.university_type 
  - let universitycost = toShow.cost 
  - let universitysize = toShow.size 
  div 
    div.row 
      div(class='costumeAttr mr-3') University ID is: 
      div #{universityid} 
    div.row 
      div(class='costumeAttr mr-3') University Type is: 
      div #{university_type} 
    div.row 
      div(class='costumeAttr mr-3') University Size is: 
      div #{universitysize} 
    div.row 
      div(class='costumeAttr mr-3') University Cost is: 
      div #{universitycost} 